<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<context:component-scan base-package="com.isofh.report"/>
<!--<mvc:annotation-driven />-->
<context:annotation-config/>
<!--&lt;!&ndash;Configuring interceptors based on URI&ndash;&gt;-->
<!--<mvc:interceptors>-->
<!--<mvc:interceptor>-->
<!--<mvc:mapping path="/admin/**"/>-->
<!--<bean class="com.isofh.device.interceptor.LoginInterceptor"/>-->
<!--</mvc:interceptor>-->
<!--<mvc:interceptor>-->
<!--&lt;!&ndash; intercept multiple urls &ndash;&gt;-->
<!--<mvc:mapping path="/admin/account"/>-->
<!--<mvc:mapping path="/admin/facility"/>-->
<!--&lt;!&ndash;<mvc:mapping path="/admin/type-device"/>&ndash;&gt;-->
<!--&lt;!&ndash;<mvc:mapping path="/admin/manufacturer"/>&ndash;&gt;-->
<!--&lt;!&ndash;<mvc:mapping path="/admin/commercial-name"/>&ndash;&gt;-->
<!--&lt;!&ndash;<mvc:mapping path="/admin/base-name"/>&ndash;&gt;-->
<!--&lt;!&ndash;<mvc:mapping path="/admin/sub-name"/>&ndash;&gt;-->
<!--<bean class="com.isofh.device.interceptor.AdminInterceptor"/>-->
<!--</mvc:interceptor>-->
<!--</mvc:interceptors>-->
</beans>